/*!
 * Kolej SCSS file
 * Yazan: Tolga Gunaydin (tolgagunaydin@gmail.com)
 * Son duzenleme: 28.08.2019
 */

@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,400i,600,700,800,900&display=swap&subset=latin-ext');
 html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.mybox {
    border: 1px solid black;
    padding: 5px;
    width: 100px;
}
body{
  font-family: 'Oswald', sans-serif;
  &:hover, &focus {
  text-decoration: none;
  }
}

/*Variables*/
$green:rgba(55,227,181,1);
$white:#ffff;
$black:#1e1e2f;
$mainFont: 'Raleway', sans-serif;


/*Mixins*/
@mixin mainTitle {
  font-size: 23px;
  letter-spacing: 1px;
  font-weight: 300;
  line-height: 30px;
  color:$black;
}

/*Header Vue*/
.navbar-light{
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(55,227,181,1) 0%, rgba(78,228,126,0.54) 90% );
  .navbar-nav .nav-link {
    font-size: 16px;
    letter-spacing: 1px;
    color:$white;
    transition: 0.8s ease;
    &:hover {
      color:$black;
    }
  }
  .navbar-brand {
    padding-left: 85px;
  }
  .navbar-collapse {
    padding-right: 85px;
  }
}
/*School List*/
.listContainer {
  a {
    text-decoration: none;
    color:inherit;
    transition: .5s ease;
  }
  h1 {
    @include mainTitle;
  }
  .listBox {
    padding: 2rem;
    border:solid 1px #ddd;
    border-radius: 4px 4px 0 0;
    transition: .5s ease;
    &:hover {
      border-left-width: 3px;
      border-left-color:$green;
      box-shadow: 0 4px 11px 0 rgba(82, 71, 71, 0.23);
      background-color: #f7f7f7;
    }

    .listContent {
      .schollName {
        a {
         font-size: 16px;
         font-weight: 600;
         letter-spacing: 1px;
         border-bottom:solid 1px #ddd;
         font-family: $mainFont;
        }
      }
      .schoolAdress {
        p {
          font-size: 11px;
          font-weight: 500;
          padding-top: 20px;
          font-family: $mainFont;
        }
      }
      .schollWeb {
          @extend .schoolAdress;
          color:$green;
      }
    }
  }
}

/*Footer Vue*/
.footer {
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(87,108,117,1) 0%, rgba(37,50,55,1) 100.2% );
  .text p {
    font-family:$mainFont;
    color:#fff;
    font-size: 13px;
    font-weight: 300;
  }
  .schollList p {
    color:#fff;
    font-size: 16px;
    font-weight: 300;
  }
  .copyright {
    margin-top: 25px;
    text-align: center;
    p {
     color:$green;
     font-family: $mainFont;
   }
  }
}

/*Scrollbar*/
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: $black;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: $green;
  border-radius: 5px;
}

/*
url('/images/banner.jpg');
url('assets/images/banner.jpg');
url('~/images/banner.jpg');
şeklinde bg-image çekebilrsin.
*/
