/*!
 * Kolej SCSS file
 * Yazan: Tolga Gunaydin (tolgagunaydin@gmail.com)
 * Son duzenleme: 28.08.2019
 */

$renk:red;
$font24:24px;
$fontColor:blue;
$fontColor2:green;

@mixin tolga {
  font-size: 25px;
}

.wrapper {
  @include tolga;
  background-color:$renk5;
}
/*
"scss": "node-sass --watch src/assets/scss -o src/assets/css"
*/
